body, p {
  font-family: "Josefin Sans", sans-serif;
}

.banner-logo {
  width: 40%;
  margin: auto;
  text-align: center;
  display: block;
  max-width: 350px;
}

.banner-text {
  text-align: center;
}

.banner-text p {
  font-size: 18px;
}
