<section id="campaign-intro" class="section push-four">
  <div class="container">
    <div class="row">
      {% with f = fragment('', '21-day-challenge-intro') %}
        <div class="col-xs-12 large medium space-one">{{ f.content }}</div>
      {% endwith %}
      <div class="push-two-top">
        <a href="" class="button btn-shadow" target="_blank">Start Now</a>
      </div>
      <h3 class="push-two-top">Let your friends know</h3>
      <div class="push-two-top">
        <div class="fb-share-button" data-href="https://kilter.in/21-day-challenge/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkilter.in%2F21-day-challenge%2F&amp;src=sdkpreparse">Share</a></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="I am participating in Kilter 21 Day Challenge. Are you participating?" data-url="https://kilter.in/21-day-challenge/" data-via="KilterCon" data-hashtags="21DayChallenge" data-lang="en" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /about -->

