<section id="annoucements" class="section section-divider push-four">
  <div class="container">
    <div class="row">
      <!-- {% with f = fragment('2017', 'introduction') %}
        <div class="col-xs-12 large medium space-one">{{ f.content }}</div>
      {% endwith %}

      {% set topics = getnode(path='about-conference').data['about'] %}
      {% for topic in topics %}
        <div class="col-xs-12 clearfix space-two-bottom">
          <div class="col-xs-12 col-md-6 {% if loop.index % 2 == 0 %} pull-right {% endif %}">
            <img src="{{ topic.img }}" class="max-width" />
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="regular space-four-top">{{ topic.text|safe }}</div>
          </div>
        </div>
      {% endfor %}
      <div class="space-four-top">    
        <div class="text-center clearfix col-sm-6 space-two-bottom">    
          <h3 class="large nospace-top nospace-bottom">Join Kilter community on Slack</h3>    
          <script async defer src="https://friends.hasgeek.com/slackin.js"></script>    
        </div> 
        <div class="col-sm-6">
          <h3 class="large nospace-top nospace-bottom"><a href="http://hasgeek.us2.list-manage.com/subscribe/?u=c84c1486d2d6a025417c5d146&id=766dbd66c0" target="_blank">Sign up</a> to receive updates and information about speakers, schedule and more.</h3>
        </div>
      </div> -->
      <div class="col-xs-12 clearfix space-two-bottom">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h2>Adopt a scientific approach to eating right and staying in shape</h2>
          <p>You care about your health and yet it's not in great shape. What are you doing wrong? You've tried lots of things, but they seem to require insane levels of commitment, or sound like hocus pocus. How do you know what to believe in this confusing world?</p>
          <p>We hear you. We investigated these claims. We figured out what actually works, even if it flies in the face of common sense. But we're not endorsing any of these techniques on your behalf. Why should you believe us?</p>
          <p>Instead, come to Kilter and hear the proponents of these methods out for yourself, in the company of fellow skeptics. Find something worth trying out? Do it with a peer group for support. Find your peers at Kilter.</p>
        </div>
      </div><!-- 
      <div class="col-xs-12 clearfix space-two-bottom">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1 class="large space-one text-center"">Kilter is <i>not</i> a conference about weight loss,</h1>
          <p>or about unfit people wanting to get fit. It is for everyone, regardless of whether you consider yourself fit or unfit, as long as you’re curious about how your body works. And you should be.</p>
        </div>
      </div> -->
      <div class="col-xs-12 clearfix space-two-bottom">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <ul class='list-unstyled'>
            <li><h3>Understand your body</h3>Learn how you can measure and improve your body over time, from the talks and workshops at the conference. Interact with the speakers and resident experts to discuss how you can achieve your personal goals towards better nutrition and fitness.</li>
            <br>
            <li><h3>Fix your diet</h3> Sample various diets from a curated food court, and decide for yourself as to what you can eat like, every day. There's low carb, slow carb, no carb, keto, vegan, and more!</li>
            <br>
            <li><h3>Move your body</h3> Experience a range of activities such as Unicycling, Zumba, Slacklining and more, and find your new hobby!</li>
            <br>
            <li><h3>Join the club!</h3>Get a free membership to the Kilter club that gives you exclusive access to the Kilter blog, Slack community and meetups. Find a support group of enthusiasts and early adopters such as yourself to stay motivated for the long haul!</li>
            <br>
            <br>
          </ul>
          <h3 class="large text-center"><a href="#tickets" class="btn btn-primary">Get tickets!</a></h3>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /about -->
