<section id="annoucements" class="section section-divider push-four">
  <div class="container">
    <div class="row">
      <!-- {% with f = fragment('2017', 'introduction') %}
        <div class="col-xs-12 large medium space-one">{{ f.content }}</div>
      {% endwith %}

      {% set topics = getnode(path='about-conference').data['about'] %}
      {% for topic in topics %}
        <div class="col-xs-12 clearfix space-two-bottom">
          <div class="col-xs-12 col-md-6 {% if loop.index % 2 == 0 %} pull-right {% endif %}">
            <img src="{{ topic.img }}" class="max-width" />
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="regular space-four-top">{{ topic.text|safe }}</div>
          </div>
        </div>
      {% endfor %}
      <div class="space-four-top">    
        <div class="text-center clearfix col-sm-6 space-two-bottom">    
          <h3 class="large nospace-top nospace-bottom">Join Kilter community on Slack</h3>    
          <script async defer src="https://friends.hasgeek.com/slackin.js"></script>    
        </div> 
        <div class="col-sm-6">
          <h3 class="large nospace-top nospace-bottom"><a href="http://hasgeek.us2.list-manage.com/subscribe/?u=c84c1486d2d6a025417c5d146&id=766dbd66c0" target="_blank">Sign up</a> to receive updates and information about speakers, schedule and more.</h3>
        </div>
      </div> -->
      <div class="col-xs-12 col-md-8 col-md-offset-2 clearfix space-two-bottom">
        <div class="space-two-bottom">
          <h2 class='text-center'>Fitness &amp; nutrition for geeks</h2>
          <h4 class='text-center'>Kilter is a conference on how you can adopt a scientific approach towards getting into shape</h4>
          <br>
          <p>Kilter is for you if you’re concerned about your health in any way:</p>
          <ul>
          <li>If you’re frustrated figuring out how to fix your health;</li>
          <li>If you want to lose excess body fat but don’t know how;</li>
          <li>If you’ve heard of strange diets like paleo, keto and LCHF, and want to figure out what they are;</li>
          <li>If you’re curious about exercise frameworks like HIIT, Zumba and CrossFit, or simply want to figure out if running and cycling are for you;</li>
          <li>If you want to bypass the noise on the internet, and just talk to knowledgeable folks about your personal fitness goals;</li>
          <li>If you’re looking for a local community to join that shares your goals.</li>
          </ul>
        </div>
        <!-- <div class="space-two-bottom">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <h1 class="large space-one text-center"">Kilter is <i>not</i> a conference about weight loss,</h1>
          <p>or about unfit people wanting to get fit. It is for everyone, regardless of whether you consider yourself fit or unfit, as long as you’re curious about how your body works. And you should be.</p>
        </div>
        </div> -->
        <div class="space-two-bottom">
          <ul class='list-unstyled'>
            <li><h3>Understand your body</h3>
            <p>We have a range of talks and discussion sessions on nutrition/exercise/habit formation, hands-on fitness workshops, and fun activities like slack lining and unicycling.</p>
            <p>Learn how you can measure and improve your body over time, from the talks and workshops at the conference. Interact with the speakers and resident experts to discuss how you can achieve your personal goals towards better nutrition and fitness.</p>
            <li><h3>Fix your diet</h3> Sample various diets from a curated food court, and decide for yourself as to what you can eat like, every day. There's low carb, slow carb, no carb, keto, vegan, and more!</li>
            <br>
            <li><h3>Move your body</h3> Experience a range of activities such as Unicycling, Zumba, Slacklining and more, and find your new hobby!</li>
            <br>
            <li><h3>Have kids? Bring them too!</h3>We have fully equipped childcare facilities for the very young, and a range of physical activities for older children. Entry is free for children under the age of ten. For more details, please read our <a href="https://medium.com/hasgeek/we-have-childcare-facilities-droidconin-and-all-hasgeek-conferences-going-forward-70d520762a11" target="_blank" rel="noopener noreferrer">blog on childcare</a>.</li>
          </ul>
          <br>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /about -->
