<section id="annoucements" class="section section-divider push-four">
  <div class="container">
    <div class="row">
      {% with f = fragment('2017', 'introduction') %}
        <div class="col-xs-12 large medium space-one">{{ f.content }}</div>
      {% endwith %}

      {% set topics = getnode(path='about-conference').data['about'] %}
      {% for topic in topics %}
        <div class="col-xs-12 clearfix space-two-bottom">
          <div class="col-xs-12 col-md-6 {% if loop.index % 2 == 0 %} pull-right {% endif %}">
            <img src="{{ topic.img }}" class="max-width" />
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="regular space-four-top">{{ topic.text|safe }}</div>
          </div>
        </div>
      {% endfor %}
      <div class="space-four-top">    
        <div class="text-center clearfix col-sm-6 space-two-bottom">    
          <h3 class="large nospace-top nospace-bottom">Join Kilter community on Slack</h3>    
          <script async defer src="https://friends.hasgeek.com/slackin.js"></script>    
        </div> 
        <div class="col-sm-6">
          <h3 class="large nospace-top nospace-bottom"><a href="http://hasgeek.us2.list-manage.com/subscribe/?u=c84c1486d2d6a025417c5d146&id=766dbd66c0" target="_blank">Sign up</a> to receive updates and information about speakers, schedule and more.</h3>
        </div>
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /about -->
