<section id="highlights" class="highlights push-four clearfix">
  <div class="clearboth push-three-top push-half-bottom">
    <ul class="nospace-bottom contain-width list-space-line list-plain link-silent video-thumbnails clearfix">
      {% for talk in getnode(path='past-featured-talks').data['talks'] %}
        <li class="push-one-bottom text-center">
          <article class="video-thumbnail secondary">
            <p>
              <a href="{{talk.video_url}}" target="_blank" data-label="{{talk.title}}" data-target="{{talk.video_url}}">
                <img alt="{{talk.title}}" src="{{talk.banner}}">
              </a>
            </p>
            <h4>
              <a href="{{talk.video_url}}" class="orange" target="_blank" data-label="{{talk.title}}" data-target="{{talk.video_url}}">
                {{talk.title}}
              </a>
            </h4>
            <h5>{{talk.speaker}}</h5>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="clearboth space-one text-center">
    <a href="https://www.youtube.com/user/hasgeek" target="_blank" class="button btn-shadow">Watch Videos on HasGeek TV</a>
  </div>
</section>
