{% set events = getnode(path='runup-events-list').data['events'] %}

<section id="runup-events" class="section push-four section-divider">
  <div class="container">
    <div class="row">
      <h3 class="huge text-center col-xs-12">{{ getnode(path='runup-events-list').title }}</h3>
      <div class="col-xs-12">
        {% for event in events  %}
          <div class="runup-event-box">
            <div class="runup-banner">
              {% if event.video_url %}
                <a href="{{event.video_url}}" class="video-link click" target="_blank" data-target="{{event.video_url}}" data-label="Runup event video"><i class="fa fa-play-circle-o"></i><img src="{{ event.banner}}" class="banner"/></a>
              {% else %}
                <a href="{{event.url}}" data-target="{{event.url}}" data-label="{{ event.title }}" class="banner-wrapper" target="_blank"><img src="{{ event.banner}}" class="banner"/></a>
              {% endif %}
            </div>
            <div class="pad-half push-two runup-content">
              <h3 class="space-one-top nospace-bottom event-title large">{{ event.title }}</h3>
              <p class="space-half-top nospace-bottom regular">{{ event.speaker }}</p>
              {%if event.date %}<p class="space-half-top nospace-bottom secondary"><i class="fa fa-calendar"></i> {{ event.date }}</p>{% endif %}
              {%if event.time %}<p class="space-half-top nospace-bottom secondary"><i class="fa fa-clock-o"></i> {{ event.time }}</p>{% endif %}
              <p class="space-half-top nospace-bottom secondary"><i class="fa fa-map-marker"></i> {{ event.venue|safe }}</p>
              {% if event.url %}<a href="{{event.url}}" class="button btn-shadow space-one" data-target="{{event.url}}" data-label="{{ event.title }}" target="_blank">Interested</a>{% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
