{% include theme("sections/schedule-table.html") %}   
<section id="schedule" class="push-four section-divider clearfix">      
 <div class="container schedule-container">          
  <div class="text-center" id="conference-schedule">       
    <h2 class="text-center push-1q-bottom large all-caps">Conference Schedule</h2>      
     <div class="schedule-table-container text-center" id="conferenceschedule">      
       <p class="text-center loadingtxt"><a class="button btn-shadow" href="{{ node.properties.propose_talk}}schedule" target="_blank">View Schedule</a></p>  
     </div>       
   </div>       
 </div>         
</section>
