<section id="workshops" class="push-four section-divider clearfix">
  <div class="container">
    <div class="row">
      <h3 class="huge col-xs-12 text-center">Workshops</h3>
      {% for item in getnode(path='workshops').data['talks'] %}
        <div class="col-xs-12 col-sm-6 col-md-4 workshop-card-wrapper">
          <div class="card">
            <a href="{{item.url}}" target="_blank" data-target="{{item.url}}" data-label="{{ item.title }}"><img src="{{ item.banner}}" class="banner"/></a>
            <div class="push-one">
              <h3 class="space-one-top nospace-bottom regular text-center">{{ item.title }}</h3>
              <p class="space-half-top nospace-bottom text-center kilter-redorange">{{ item.speaker }}</p>
              <div class="space-half-top nospace-bottom regular pad-one">{{ item.description|safe }}</div>
              <p class="space-half-top nospace-bottom text-center secondary bold">{{ item.type }}</p>
              {% if item.date %}<p class="space-half-top nospace-bottom text-center secondary"><i class="fa fa-calendar fa-fw"></i> {{ item.date }}</p>{% endif %}
              {% if item.time %}<p class="space-half-top nospace-bottom text-center secondary"><i class="fa fa-clock-o fa-fw"></i> {{ item.time }}</p>{% endif %}
            </div>
          </div>
        </div>
      {%- endfor %}
    </div>  
  </div>
</section>
