{% from "baseframe/components.html" import networkbar with context -%}
{% extends theme("layout.html") %}

{% block banner %}
<header class="clearfix" id="header">
  <div class="visible-xs">
    <img src="{{ theme_static('img/mobile-banner.svg') }}" alt="Kilter" />
  </div>
  <div class="hidden-xs">
    <img src="{{ theme_static('img/banner.svg') }}" alt="Kilter" />
  </div>
  <div class="container banner-text">
    <div class="banner-logo">
      <img src="https://images.hasgeek.com/embed/file/eaaffeb43d0249b8b460388e4389df9c" alt="Kilter" />
    </div>
    <h1 class="extra-huge logo-text nospace-top space-one-bottom"><a href="/2017" class="link-silent">Kilter</a></h1>
    {% if node.properties.date %}
      <h2 class="large nospace">{{ node.properties.date }}</h2>
    {% endif %}
    {% if node.properties.venue %}
      <h2 class="large nospace">{{ node.properties.venue }}</h2>
    {% endif %}
    {% if node.properties.buy_ticket %}
      <div class="push-two-top">
        <a href="#tickets" class="button smooth-scroll">Buy tickets</a>
      </div>
    {% elif node.properties.propose_talk %}
      <div class="push-two-top">
        <a href="{{ node.properties.propose_talk }}" class="button btn-shadow" target="_blank">Propose a talk</a>
      </div>
    {% endif %}
  </div>
</header>
{% endblock %}

{% block navtype %}
<div id="nav-home">
  <nav class="navbar navbar-default" id="site-nav" role="navigation">
    <div class="sitebar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand smooth-scroll logo-text" href="#header">Kilter</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#annoucements" class="smooth-scroll">Announcements</a></li>
          {% if node.properties.theme %}
            <li><a href="#discussions" class="smooth-scroll">Discussions</a></li>
          {% endif %}
          {% if node.properties.blog %}
            <li><a href="#blog" class="smooth-scroll">Blog</a></li>
          {% endif %}
          {% if node.properties.runup_events_list %}
            <li><a href="#runup-events" class="smooth-scroll">Runup events</a></li>
          {% endif %}
          {% if node.properties.proposals %}
            <li><a href="#proposals" class="smooth-scroll">Proposals</a></li>
          {% endif %}
          {% if node.properties.schedule %}
            <li><a href="#schedule" class="smooth-scroll">Schedule</a></li>
          {% endif %}
          {% if node.properties.tickets %}
            <li><a href="#tickets" class="smooth-scroll">Tickets</a></li>
          {% endif %}
          <li><a href="#venue" class="smooth-scroll">Venue</a></li>
          <li><a href="#sponsors" class="smooth-scroll">Sponsors</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
            <ul class="dropdown-menu">   
              <li><a href="#about" class="smooth-scroll">About HasGeek</a></li>
              <li><a href="code-of-conduct">Code of conduct</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% endblock %}

{% block content %}
  {% include theme("sections/introduction.html") %}
  {% if node.properties.theme %}
    {% include theme("sections/theme.html") %}
  {% endif %}
  {% if node.properties.blog %}
    {% include theme("sections/blog.html") %}
  {% endif %}
  {% if node.properties.runup_events_list %}
    {% include theme("sections/runup-events-list.html") %}
  {% endif %}
  {% if node.properties.proposals %}
    {% include theme("sections/proposals.html") %}
  {% endif %}
  {% if node.properties.schedule %}
    {% include theme("sections/schedule.html") %}
  {% endif %}
  {% if node.properties.tickets %}
    {% include theme("sections/tickets.html") %}
  {% endif %}
  {% include theme("sections/venue.html") %}
  {% include theme("sections/sponsors-summary.html") %}
{% endblock %}

{% block footerscripts %}
<style type="text/css">
  #boxoffice-widget .boxoffice-button-action {        
    background-color: #FAA51A;        
    border-color:  #d98f15;       
    color: #fff;        
  }       
  #boxoffice-widget .boxoffice-button-info {        
    background-color: #5BC0DE;        
    border-color: #2A9CBE;        
    color: #fff;        
  }       
  #boxoffice-widget .payment-stages-bg {        
    background-color: #8ac97b;    
  }       
  #boxoffice-widget .progress-indicator>li {        
    color: #FFF;        
  }
  #boxoffice-widget .progress-indicator>li.active, .progress-indicator > li.active .bubble {
    color: #337AB7;
  }  
  #boxoffice-widget .category-heading {       
    background-color: #8ac97b;        
    border-bottom: 3px solid #8ac97b;       
    color: rgba(0,0,0,0.6);     
    line-height: 1.1;     
    font-weight: bold;   
  }       
  #boxoffice-widget .category-heading:after {       
    border-color: #8ac97b #fff #8ac97b #8ac97b; 
  }
  #boxoffice-widget .ticket-description {
    font-size: 18px;
  }
  #boxoffice-widget .increment, #boxoffice-widget .decrement {
    border-radius: 0;
    background-color: #ddd;
    color: #333;
  }
</style> 

<script>
$(document).ready(function() {  
  var boxofficeUrl = "https://boxoffice.hasgeek.com";

  $.get({
    url: boxofficeUrl + "/api/1/boxoffice.js",   
    crossDomain: true   
  }).done(function(data) {     
    var boxofficeScript = document.createElement('script');   
    boxofficeScript.innerHTML = data.script;
    document.getElementsByTagName('body')[0].appendChild(boxofficeScript);     
    window.Boxoffice.init({   
      org: "hasgeek",
      itemCollection: "{{ node.properties.item_collection }}",  
      paymentDesc: "{{ node.properties.payment_desc }}"
    });
    loadBlog();
    loadProposals();
  }).fail(function(response) {   
    var error_msg;
    if (response.readyState === 4) {
      error_msg = "Server error, please try again later";
    }
    else if (response.readyState === 0) {
      if(!navigator.onLine) {
        error_msg = "Unable to connect. There is no network!";
      }
      else {
        error_msg = "<p>Unable to connect. If you are behind a firewall or using any script blocking extension (like Privacy Badger).<p></p> Please ensure your browser can load boxoffice.hasgeek.com, api.razorpay.com and checkout.razorpay.com</p>";
      }
    }
    $('#boxoffice-widget p').html(error_msg);
    loadBlog();
    loadProposals(); 
  }); 

  var loadBlog = function () {
    var url = "{{ node.properties.blog }}"
    var blog = [];
    feednami.setPublicApiKey('27e9bf43bffd7b67277ff3639b85da428fac21bb4997f1964d4234c237c5e993');
    feednami.load(url).then(feed => {
      //Copy only six blog entries
      var entries = feed.entries.slice(0, 6);
      for(let entry of entries){
        blog.push({"title": entry.title, "author":entry.author, "description": entry.description, "link": entry.link})
      }
      Kilter.parseJson(blog, '#entries-wrapper', '#entries', 'blog');
    });
  };

  var loadProposals = function () {
    var proposals_url = "{{ node.properties.propose_talk }}" + 'json';

    //If funnel-proposals divs is present on the page, then make the ajax call.
    if(($('#funnel-proposals').length)) {
      $.ajax({
        type: 'GET',
        dataType: 'jsonp',
        url: proposals_url,
        success: function(data) {
          console.log("data", data);
          Kilter.parseProposalJson(data);
        }
      });//eof ajax call
    }
  };

});
</script>
{% endblock %}
