$white: #FFFFFF;
$dark: #333333;
$kilterblue: #b9e4f1;
$kilterbluegreen: #86d2db;
$kilterdarkblue: #58e8c0;
$kilterlight: #f5f6fb;
$kilterorange: #f58a73;
$kilteryellow: #faaa55;
$kiltergreen: #8ac97b;
