html, body, #page {
    height: 100%;
    margin: 0px;
}

header {
  position: relative;
  overflow: hidden;
  background-color: #86d2db;
}

.banner-text {
  color: #333;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  z-index: 4;
}

.innerpage-banner-text {
  color: #333;
  margin: 15px auto;
  text-align: center;
}

.banner-text .banner-logo img{
  clear: both;
  width: 50px;
  height: 77px;
}

.innerpage-banner-text .banner-logo img{
  width: 40px;
  height: 62px;
  margin: auto
}

.logo-text {
  font-family: 'Bellaboo';
  font-weight: 400;
}

.event-text {
  margin: 15px auto;
}

@media (min-width: 480px) {
  .banner-text {
    top: 20vh;
  }
  .banner-text .banner-logo img {
    width: 65px;
    height: 100px;
  }
}

@media (min-width:768px) {
  .banner-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 4;
  }
  .innerpage-banner-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 4;
    margin: 0 auto;
    text-align: left;
  }
  .innerpage-banner-text .banner-logo {
    margin: 0;
  }
  .event-text {
    margin: 50px auto;
  }
}

@media (min-width: 950px) {
  .banner-text {
    top: 40px;
  }
}

@media (min-width: 1200px) {
  .banner-text {
    top: 90px;
  }
  .banner-text .banner-logo img {
    width: 80px;
    height: 124px;
  }
}

#site-nav{
  width: 100%;
}
#hg-btn{
  border-right: 1px solid #EFEFEF;
}

#site-nav.visible{
  /*visibility: visible;*/
}
#site-nav.navbar{
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
}
.navbar-fixed-top #site-nav.navbar {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
}
#site-nav .navbar-inner{
  border-radius: 0;
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret{
  border-top-color: #444;
  border-bottom-color: #444;
}
.navbar-inverse .navbar-nav>.open>a .caret, .navbar-inverse .navbar-nav>.open>a:hover .caret, .navbar-inverse .navbar-nav>.open>a:focus .caret {
  border-top-color: #FFF;
  border-bottom-color: #FFF;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar-default, .navbar-nav > li > .dropdown-menu, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  background-color: $kilterred !important;
  color: #fff;
}
.navbar .nav > li > a, .navbar-default .navbar-brand, .navbar .dropdown-menu > li > a {
  background-color: transparent !important;
  color: #fff !important;
}
.navbar-brand {
  font-size: 22px !important;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus, .navbar .nav > li > a:active, .navbar-default .navbar-brand:hover, .navbar-default .dropdown-menu > li > a:hover {
  background-color: transparent !important;
  color: #fff !important;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #eaa021 !important;
  border-bottom-color: #eaa021 !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}


@media screen and (min-width: 992px) and (max-width: 1200px){

}
@media screen and (min-width: 768px) and (max-width: 991px){
  .navbar .nav > li > a, .navbar-default .navbar-brand, .navbar .dropdown-menu > li > a {
    font-size: 16px;
  }
  .navbar .dropdown-menu {
    left: -34px;
  }
}

@media screen and (max-width: 768px){
 
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #000;
  }
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #444444;
  }
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 15px 15px 15px 25px;
  }
  .mob-nav{
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #FFF;
    padding: 12px 15px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1035;
  } 
  .navigation-menu li{
    display: block;
    width: 200px;
    float: left;
    padding: 15px 20px;
    font-size: 18px;
    margin: 0;  
  }
  #nav-wrap{
    visibility: visible;
    height: 0;
    border: 0;
    -webkit-transition: height 10s;
    overflow: hidden;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 410px;
  }
  #nav-wrap.visible{
    height: auto;  
    border: 5px solid #132633;
    z-index: 999;
  }
}
@media screen and (max-width: 600px){
  .mob-nav{
    z-index: 1015;
  } 
}
@media screen and (max-width: 498px){
  #nav-wrap{
    width: 200px;
  }
}

.discussions {
  margin: 15px auto;
}

@media (min-width: 768px) {
   .discussions {
    margin: 20px auto;
  }
  .icon-wrapper img {
    padding: 10% 0 0;
  }
}

.icon-wrapper {
  text-align: center;
}

.icon-wrapper img {
  max-width: 200px;
}

.medium-feed-link {
  color: #f58a73;
  margin: 10px 0 !important;
}

@media (min-width: 768px) {
  .card-wrapper {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

.card  {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 0;
  margin: 15px auto 30px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  border: none;
  width: 100%;
}

@media (min-width: 1200px) {
  .card {
    min-height: 350px;
    overflow: hidden;
  }
}

.card:hover,
.card:focus,
.card:active {
  outline: none;
  border: none;
  color: #333;
}

.talk .title {
  margin: 0 0 10px;
  padding: 15px 15px 0;
  font-size: 20px;
  line-height: 24px;
}


.talk .separator {
  border-width: 3px;
  border-color: #58c8e0;
  margin: 0;
}

.talk .description {
  padding: 15px;
  position: relative;
  max-height: 250px;
  overflow: hidden;
}

.card .description p, 
.card .description ul,
.card .description ol,
.card .description pre {
  background: transparent;
  border: 0;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.card .description h4 {
  font-weight: 500;
}

.card .description ul,
.card .description ol {
  margin: 0;
  padding: 0 0 0 20px;
}

.card .description:after {
  content: "";
  width: 100%;
  height: 52px;
  position: absolute;
  left: 0;
  bottom: -5px;
  z-index: 4;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%, #fff 100%);
}

.talk .fullname {
  background-color: #58c8e0;
  margin: 0;
  padding: 15px;
  color: #333;
  text-align: right;
  border-radius: 0 0 5px 5px;
}

@media (min-width:1200px) {
  .talk .description {
    max-height: 245px;
  }

  .talk .fullname {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 5;
  }
}

.card .description figure {
  display: none;
}

.venue-home h2 {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .venue-home .city-level p { margin-top: -4.4rem; }
  .venue-home .country-level p { margin-top: 0; }
}
.js .venue-home {
  position: relative;
  padding: 0;
}
.js .venue-home h2 {
  position: absolute;
  z-index: 100;
  color: black;
  width: auto;
  margin: 0;
  padding:0;
  font-size: 3rem;
  right: 1.2rem;
  top:   0.55rem;
}
.js .leaflet-map {
  height: 555px;
  color: black;
  width: 80%;
  margin: auto;
}
.js .leaflet-map a { border-bottom: none; }
.js .venue-home .city-level    { width: 65%; border-left: 1px solid #444;}
.js .venue-home .country-level { width: 35%; float: left; }
@media (max-width: 767px) {
    .js .venue-home { padding: 0; }
    .js .venue-home h2 {
        right: 5%;
        top:   5%;
        font-size: 2rem;
        text-shadow: rgba(0,0,0,0.5) 0 0 1px;
    }
    .js .venue-home .city-level    { width: 100%; }
    .js .venue-home .country-level { display: none; }
}
@media (min-height: 300px) { .js .leaflet-map { height: 250px; } }
@media (min-height: 450px) { .js .leaflet-map { height: 425px; } }
@media (min-height: 550px) { .js .venue-home .leaflet-map { height: 535px; } }
@media (min-height: 630px) { .js .venue-home .leaflet-map { height: 620px; } }
@media (min-height: 725px) { .js .venue-home .leaflet-map { height: 725px; } }
@media (min-height: 800px) { .js .venue-home .leaflet-map { height: 800px; } }

@media (min-width: 768px) {
  .js .leaflet-map {
   width: 100%;
  }
}

.hasgeek-logo {
    background: url(../img/hasgeek-logo.png) no-repeat scroll center center;
    width:  130px;
    height: 120px;
    -webkit-border-radius: 30px 30px 30px 0;
            border-radius: 30px 30px 30px 0;
}
a.hasgeek-logo:hover { background-color: rgba(255,255,255,0.15); }

.section-divider {
  background: transparent url('https://images.hasgeek.com/embed/file/e635625dbf6441698323f1671bf47143') bottom center repeat-x;
}

//Subscribe form
#mc-embedded-subscribe-form {
  padding: 0 15px !important;
}

#mc_embed_signup h2 {
  font-size: 24px !important;
  font-weight: 600 !important;
  margin: 0 0 5px !important;
}

#mc_embed_signup #mce-EMAIL {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px; 
}

#mc_embed_signup .mc-field-group label {
  font-weight: 400 !important;
}

#mc_embed_signup div#mce-responses {
  padding: 0 !important;
  margin: 0 !important;
}

#mc_embed_signup div.response {
  padding: 0 !important;
  margin: 0 !important;
}

#mc_embed_signup .button {
  background-color: #e15d36 !important;
  padding: 12px !important;
  color: #fff !important;
  font-size: 18px !important;
  border-radius: 5px !important;
  margin: 10px 0 0 !important;
  height: auto !important;
  line-height: 1!important;
  border: 0;
}

.runup-event-box {
  width: 70%;
  margin: 20px auto;
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  text-align: center;
}

@media (min-width: 768px) {
  .runup-event-box {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 20px 2.35%;
    min-height: 340px;
  }
  .runup-event-box.featured {
    width: 47.3%;
    margin: 1% 1.2% 2%;
  }
}

@media (min-width: 1200px) {
  .runup-event-box {
    width: 30.6%;
    margin: 1.2%;
  }
}

.banner-wrapper {
  max-height: 189px;
  overflow: hidden;
  display: block;
}

.runup-event-box .banner {
  width: 100%;
  border-bottom: 1px solid #eee;
}

.runup-event-box .video-link {
  position: relative;
}

.runup-event-box .video-link .fa{
  position: absolute;
  top: 35%;
  font-size: 40px;
  color: #fff;
  left: 0;
  right: 0;
  cursor: pointer;
}

.runup-event-box .event-title {
  font-size: 20px;
}

.runup-event-box .event-speaker {
  font-size: 18px;
}

.media-object {
  display: inline-block;
}

.offer-banner .media {
  margin-top: 35px;
}

@media (min-width: 768px) {
  .media-body, .media-left {
    display: inline-block;
    vertical-align: top;
  }
  .offer-banner .media {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .media-left {
    width: 200px;
  }
  .pos-top {
    position: relative;
    top: 7px;
  }
}

/* Proposal section */
.proposals
{
  width: 100%;
  height: 480px;
  overflow: auto;
  outline: none;
  padding-left: 15px;
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .proposals
  {
    height: 460px;
  }
}

.proposal-card  {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 0;
  background-color: #fff;
  width: 290px;
  height: 400px;
  margin: 30px 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

@media (min-width: 768px) {
  .proposal-card  {
    width: 420px;
    height: 380px;
    margin: 30px 15px;
  }
}

.proposal-card :focus,
.proposal-card :active {
  outline: none;
}

.proposal-card .talk .title {
  font-weight: bold;
  font-size: 18px;
  min-height: 50px;
  max-height: 75px; /* fit text in one line */
  margin: 0 0 10px;
  padding: 15px 15px 0;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .proposal-card .talk .title {
    max-height: 55px; /* fit text in one line */
  }
}

.proposal-card .talk .separator {
  border-width: 3px;
  border-color: #8ac97b;
  margin: 0;
}

.proposal-card .talk .description {
  max-height: 270px;
  overflow: hidden;
  padding: 15px 15px 0;
}

.proposal-card .description:after {
  content: "";
  width: 100%;
  height: 52px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%, #fff 100%);
}

@media (min-width: 768px) {
  .proposal-card .talk .description {
    max-height: 270px;
    min-height: 270px
  }
}

.proposal-card .description p, 
.proposal-card .description ul,
.proposal-card .description ol,
.proposal-card .description pre {
  background: transparent;
  border: 0;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.proposal-card .description img {
  width: 100%;
}

.proposal-card .description ul,
.proposal-card .description ol {
  margin: 0;
  padding: 0 0 0 20px;
}

.proposal-card .talk .fullname {
  background-color: #8ac97b;
  margin: 0;
  padding: 15px;
  color: #fff;
  text-align: right;
  line-height: 1.2;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.modal-description-title {
  font-weight: bold;
  margin: 0 0 10px;
}

.modal-body img {
  width: 100%;
}

.modal-description {
  margin: 0 0 10px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0!important;
}

