html, body, #page {
    height: 100%;
    margin: 0px;
}

header {
  background-color: #58c8e0;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  border-bottom: 40px solid #f58a73;
}

@media (min-width:768px) {
  header {
    padding: 120px 0
  }
}

.banner-text {
  position: relative;
  z-index: 5;
  color: #fff;
}

.heading-logo a {
  color: #fff;
}

.banner-logo {
  clear: both;
  width: 200px;
  position: absolute;
  right: -40px;
  bottom: -40px;
  z-index: 4;
}

@media (min-width:768px) {
  .banner-logo {
    clear: both;
    width: 400px;
    position: absolute;
    right: -80px;
    bottom: -80px;
  }
}


.banner-text {
  font-style: italic;
}

@media (min-width: 768px) {
   .discussions {
    min-height: 350px;
  } 
}

.icon-wrapper {
  text-align: center;
}

.icon-wrapper img {
  max-width: 200px;
}

@media (min-width: 768px) {
  .card-wrapper {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
}

.card  {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
  border-radius: 5px;
  padding: 0;
  margin: 15px auto 30px;
  background-color: #fff;
  position: relative;
  cursor: pointer;
  border: none;
  width: 100%;
}

@media (min-width: 1200px) {
  .card {
    min-height: 440px;
    overflow: hidden;
  }
}

.card:hover,
.card:focus,
.card:active {
  outline: none;
  border: none;
  color: #333;
}

.talk .title {
  font-weight: bold;
  font-size: 22px;
  margin: 0 0 10px;
  padding: 15px 15px 0;
  line-height: 24px;
}

.talk .separator {
  border-width: 3px;
  border-color: #58c8e0;
  margin: 0;
}

.talk .description {
  padding: 15px;
  position: relative;
}

.card .description p, 
.card .description ul,
.card .description ol,
.card .description pre {
  background: transparent;
  border: 0;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.card .description ul,
.card .description ol {
  margin: 0;
  padding: 0 0 0 20px;
}

.talk .fullname {
  background-color: #58c8e0;
  margin: 0;
  padding: 15px;
  color: #fff;
  text-align: right;
  border-radius: 0 0 5px 5px;
}

@media (min-width:1200px) {
  .talk .fullname {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.medium-feed-image {
  text-align: center;
}

.medium-feed-image img {
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

@media(min-width:768px) {
   .medium-feed-image img {
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 15px;
  } 
}

.venue-home h2 {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .venue-home .city-level p { margin-top: -4.4rem; }
  .venue-home .country-level p { margin-top: 0; }
}
.js .venue-home {
  position: relative;
  padding: 0;
}
.js .venue-home h2 {
  position: absolute;
  z-index: 100;
  color: black;
  width: auto;
  margin: 0;
  padding:0;
  font-size: 3rem;
  right: 1.2rem;
  top:   0.55rem;
}
.js .leaflet-map {
  height: 555px;
  color: black;
  width: 80%;
  margin: auto;
}
.js .leaflet-map a { border-bottom: none; }
.js .venue-home .city-level    { width: 65%; border-left: 1px solid #444;}
.js .venue-home .country-level { width: 35%; float: left; }
@media (max-width: 767px) {
    .js .venue-home { padding: 0; }
    .js .venue-home h2 {
        right: 5%;
        top:   5%;
        font-size: 2rem;
        text-shadow: rgba(0,0,0,0.5) 0 0 1px;
    }
    .js .venue-home .city-level    { width: 100%; }
    .js .venue-home .country-level { display: none; }
}
@media (min-height: 300px) { .js .leaflet-map { height: 250px; } }
@media (min-height: 450px) { .js .leaflet-map { height: 425px; } }
@media (min-height: 550px) { .js .venue-home .leaflet-map { height: 535px; } }
@media (min-height: 630px) { .js .venue-home .leaflet-map { height: 620px; } }
@media (min-height: 725px) { .js .venue-home .leaflet-map { height: 725px; } }
@media (min-height: 800px) { .js .venue-home .leaflet-map { height: 800px; } }

@media (min-width: 768px) {
  .js .leaflet-map {
   width: 100%;
  }
}

.hasgeek-logo {
    background: url(../img/hasgeek-logo.png) no-repeat scroll center center;
    width:  130px;
    height: 120px;
    -webkit-border-radius: 30px 30px 30px 0;
            border-radius: 30px 30px 30px 0;
}
a.hasgeek-logo:hover { background-color: rgba(255,255,255,0.15); }

.section-divider {
  background: transparent url('https://images.hasgeek.com/embed/file/e635625dbf6441698323f1671bf47143') bottom center repeat-x;
}

//Subscribe form
#mc_embed_signup {
  width: 100% !important;
  font-size: 16px !important;
}

@media(min-width: 768px) {
  #mc_embed_signup {
    width: 300px !important;
  }
}

@media(min-width: 1200px) {
  #mc_embed_signup {
    width: 30% !important;
  }
}

#mc-embedded-subscribe-form {
  padding: 0 15px !important;
}

#mc_embed_signup h2 {
  font-size: 24px !important;
}

#mc_embed_signup div#mce-responses {
  padding: 0 !important;
  margin: 0 !important;
}

#mc_embed_signup div.response {
  padding: 0 !important;
  margin: 0 !important;
}

#mc_embed_signup .button {
  background-color: #e15d36 !important;
  padding: 12px !important;
  color: #fff !important;
  font-size: 24px !important;
  border-radius: 5px !important;
  margin: 10px 0 0 !important;
  height: auto !important;
}