/* ========= */
/* = Theme = */
/* ========= */

body{
    background-color: $white; 
    color: #333;
}

a {
    color: $kilterorange;
}
a:hover,
a:focus {
    text-decoration: none;
}

.link-silent a,
a.link-silent   { 
  color: inherit;
  border-bottom: none; 
}

hr{
    border-top: 1px solid #DAD6D0;
}

.prose.prose-type a { border-bottom: none; text-decoration: underline; }

button, .button {
  background-color: $kilterorangered;
  padding: 12px;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  display: inline-block;
}

button:hover, 
.button:hover,
button:active,
.button:active
button:focus,
.button:focus {
  color: #fff;
  outline: none;
}

.btn-shadow {
  box-shadow: 0 0 2px rgba(0,0,0,0.6);
}


/*  Colours  */

.black          { color: #000000 !important; }
.dark           { color: $dark !important; }
.gray           { color: #AAAAAA !important; }
.lightgray      { color: #CCCCCC !important; }
.light          { color: #EEEEEE !important; }
.red            { color: #FF3333 !important; }
.white          { color: #FFFFFF !important; }
.faded          { color: rgba(255,255,255,.8) !important; }
.blue           { color: #4487A6 !important; }
.skyblue        { color: #68CFFF !important; }
.silver         { color: #CFE2E0 !important; }
.orange         { color: #CF6F01 !important; }
.yellow         { color: #E6A813 !important; }
.twitter-blue   { color: #55acee !important;}

.kilterblue { color: $kilterblue; }
.kilterlightblue  { color: $kilterlightblue; }
.kilterdarkblue  { color: $kilterdarkblue; }
.kilterlight  { color: $kilterlight; }
.kilterorange  { color: $kilterorange; }
.kilteryellow { color: $kilteryellow; }
.kiltergreen { color: $kiltergreen; }
.kilterorangered { color: $kilterorangered; }

.fill-kilterlightblue { background-color: $kilterlightblue; }
.fill-kiltergreen { background-color: $kiltergreen; }
.fill-kilterblue { background-color: $kilterblue; }
.fill-kilterorange { background-color: $kilterorange; }
